<a href="https://colab.research.google.com/github/subhan215/pandas-Assignment/blob/main/script_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [11]:
from google.colab import drive
drive.mount('./content')

Mounted at ./content

In [13]:
import os

os.chdir('./content/MyDrive/Assignment')
inventory = pd.read_csv('inventory.csv')

In [14]:
print(inventory.head(10))

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [15]:
staten_island = inventory.head(10)
product_request = staten_island.product_description

In [17]:
seed_request = inventory[(inventory.location == 'Brooklyn') & (inventory.product_type == 'seeds')]

In [18]:
inventory['in stock'] = inventory.apply(lambda row: True if row.quantity > 0 else False, axis = 1)

In [19]:
print(inventory.head(10))

        location  product_type  ...  price  in stock
0  Staten Island         seeds  ...   6.99      True
1  Staten Island         seeds  ...  19.99      True
2  Staten Island         seeds  ...  13.99      True
3  Staten Island  garden tools  ...  13.99      True
4  Staten Island  garden tools  ...  89.99     False
5  Staten Island  garden tools  ...  19.99      True
6  Staten Island  pest_control  ...  12.99      True
7  Staten Island  pest_control  ...  23.99      True
8  Staten Island       planter  ...  17.99     False
9  Staten Island       planter  ...   3.99      True

[10 rows x 6 columns]

In [20]:
inventory['total_value'] = inventory.price * inventory.quantity

In [21]:
inventory.total_value

0       27.96
1      919.54
2     1189.15
3       55.96
4        0.00
5     1859.07
6      961.26
7      191.92
8        0.00
9      211.47
10     349.50
11       0.00
12       0.00
13     209.85
14    7379.18
15     719.64
16    1039.20
17    1823.24
18      89.95
19     103.74
20     398.43
21    1899.05
22     629.55
23     293.79
24    8819.02
25     519.74
26       0.00
27     383.84
28    1565.13
Name: total_value, dtype: float64

In [22]:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)

In [23]:
inventory['full_description'] = inventory.apply(combine_lambda, axis = 1)

In [24]:
inventory

         location  ...                      full_description
0   Staten Island  ...                         seeds - daisy
1   Staten Island  ...                    seeds - calla lily
2   Staten Island  ...                        seeds - tomato
3   Staten Island  ...                   garden tools - rake
4   Staten Island  ...            garden tools - wheelbarrow
5   Staten Island  ...                  garden tools - spade
6   Staten Island  ...          pest_control - insect killer
7   Staten Island  ...            pest_control - weed killer
8   Staten Island  ...  planter - 20 inch terracotta planter
9   Staten Island  ...      planter - 8 inch plastic planter
10       Brooklyn  ...                         seeds - daisy
11       Brooklyn  ...                    seeds - calla lily
12       Brooklyn  ...                        seeds - tomato
13       Brooklyn  ...                   garden tools - rake
14       Brooklyn  ...            garden tools - wheelbarrow
15       Brooklyn  ...                  garden tools - spade
16       Brooklyn  ...          pest_control - insect killer
17       Brooklyn  ...            pest_control - weed killer
18       Brooklyn  ...  planter - 20 inch terracotta planter
19       Brooklyn  ...      planter - 8 inch plastic planter
20         Queens  ...                         seeds - daisy
21         Queens  ...                    seeds - calla lily
22         Queens  ...                        seeds - tomato
23         Queens  ...                   garden tools - rake
24         Queens  ...            garden tools - wheelbarrow
25         Queens  ...                  garden tools - spade
26         Queens  ...          pest_control - insect killer
27         Queens  ...            pest_control - weed killer
28         Queens  ...  planter - 20 inch terracotta planter

[29 rows x 8 columns]